*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #d88080;
    text-align: center;
}
main{
    height: 60vh;
    justify-content: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}
.game{
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1vmin;
}
.box{
    height: 19vh;
    width: 19vw;
    background-color: white;
    border: 1px solid black;
    /* margin: 0px; */
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    font-size: 100px;
    color: rgb(70, 13, 80);
}
#rst-btn{
    padding: 4px;
    background-color: rgb(146, 60, 60);
    color: white;
}
#new-btn{
    padding: 4px;
    background-color: rgb(146, 60, 60);
    color: white; 
}
button:hover{
    background-color: white;
    color: black;
}
.msg-container{
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
p{
    padding: 10px;
    font-size: 30px;
}
.hide{
    display: none;
}